.section {
  padding: 94px 0;
}

.section__title {
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.section__team {
  background-color: var(--background-secondary-color);
}
.section__work {
  padding-top: 0;
}
